{# {% if page.footer %}
  <footer>
    <div class="footer-content {{ footer_width_class }}">
      {{ page.footer }}
    </div>
  </footer>
{% endif %} #}


{% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth or page.footer_fifth or page.footer_six %}

{# footer #}
<footer id="footer22" class="clearfix new-footer">
  <div class="container">
    <div class="row">
      {% if page.footer_first %}
        <div class="col-6 col-xl">
          <div class="footer-area1">
            {{ page.footer_first }}
          </div>
        </div>
      {% endif %}
      {% if page.footer_second %}
        <div class="col-6 col-xl">
          <div class="footer-area2">
            {{ page.footer_second }}
          </div>
        </div>
      {% endif %}
      {% if page.footer_third %}
        <div class="col-12 col-xl">
          <div class="footer-area3">
            {{ page.footer_third }}
          </div>
        </div>
      {% endif %}
      {% if page.footer_fourth %}
        <div class="col-6 col-xl">
          <div class="footer-area4">
            {{ page.footer_fourth }}
          </div>
        </div>
      {% endif %}
      {% if page.footer_fifth %}
        <div class="col-6 col-xl">
          <div class="footer-area5">
            {{ page.footer_fifth }}
          </div>
        </div>
      {% endif %}
      {% if page.footer_six %}
        <div class="col-12 col-xl-3">
          <div class="footer-area6">
            {{ page.footer_six }}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</footer>

{# EOF #footer #}
{% endif %}
