{% if page.header_left and page.header_center and page.header_right %}
  {% set column_classes = 'col-lg-4' %}
{% elseif page.header_center and not page.header_left and not page.header_right  %}
  {% set column_classes = 'col-12' %}
{% elseif page.header_right and not page.header_left and not page.header_center %}
  {% set column_classes = 'col-md-6 offset-md-6' %}
{% else %}
  {% set column_classes = 'col-md-6' %}
{% endif %}

<div class="top-bar">
  <div class="header-top-bar container-fluid">
    <div class="row">
      {% if page.top_bar %}
          {{ page.top_bar }}
      {% endif %}
    </div>
  </div>
</div>

<header class="{{ header_position_class }} {{ header_bg_class }}">

  <div class="header-content container-fluid">
    <div class="row">
      {% if page.header_left %}
        <div class="col-md-3 region-left">
          {{ page.header_left }}
        </div>
      {% endif %}

      {% if page.header_right %}
        <div class="col-md-1 col-sm-5 d-flex justify-content-end">
          {{ page.header_right }}
        </div>
      {% endif %}
    </div>
        <div class="rowbasemenu">
      {% if page.header_center %}
        <div class="col-md-12 d-flex justify-content-center">
          {{ page.header_center }}
        </div>
      {% endif %}
    </div>
  </div>
  

</header>
