{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  {% set bnum = 0 %}
  <ul class="breadcrumbs-list">
    {% for item in breadcrumb %}
      {%  set bnum = bnum+1 %}
      <li>
        {% if item.url %}

          <a data-bnum="{{ bnum }}" class="breadcrumb-item" href="{{ item.url }}">{{ item.text }}</a> 
        {% else %}
          <span data-bnum="{{ bnum }}" class="breadcrumb-item breadcrumb-item-last breadcrumb-item-nolink">{{ item.text }}</span>
        {% endif %}
      </li>
    {% endfor %}
    <ul>
    {% endif %}
