{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{#
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
{% endblock paragraph %}
#}


<style>.gm-control-active>img{box-sizing:content-box;display:none;left:50%;pointer-events:none;position:absolute;top:50%;transform:translate(-50%,-50%)}.gm-control-active>img:nth-child(1){display:block}.gm-control-active:hover>img:nth-child(1),.gm-control-active:active>img:nth-child(1){display:none}.gm-control-active:hover>img:nth-child(2),.gm-control-active:active>img:nth-child(3){display:block}
</style><link type="text/css" rel="stylesheet" href="/themes/civic/dist/map_files/css.css"><link type="text/css" rel="stylesheet" href="/themes/civic/dist/map_files/css_1.css"><style>.gm-ui-hover-effect{opacity:.6}.gm-ui-hover-effect:hover{opacity:1}
</style><style>.gm-style .gm-style-cc a,.gm-style .gm-style-cc button,.gm-style .gm-style-cc span,.gm-style .gm-style-mtc div{font-size:10px;box-sizing:border-box}
</style><style>@media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}</style><style>.gm-style-pbc{transition:opacity ease-in-out;background-color:rgba(0,0,0,0.45);text-align:center}.gm-style-pbt{font-size:22px;color:white;font-family:Roboto,Arial,sans-serif;position:relative;margin:0;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
</style><style>.gm-style img{max-width: none;}.gm-style {font: 400 11px Roboto, Arial, sans-serif; text-decoration: none;}</style>


<link href="/themes/civic/dist/map_files/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/themes/civic/dist/map_files/finder.css" rel="stylesheet" type="text/css">
<link href="/themes/civic/dist/map_files/base.css" rel="stylesheet" type="text/css">
<link href="/themes/civic/dist/map_files/styles-v2.css" rel="stylesheet" type="text/css">
<link href="/themes/civic/dist/map_files/zdocs.css" rel="stylesheet" type="text/css">



{# 
 <script type="text/javascript" async="" src="/themes/civic/dist/map_files/linkid.js"></script><script async="" src="/themes/civic/dist/map_files/analytics.js"></script><script type="application/json" class="joomla-script-options new">{"csrf.token":"332f4190e7114f38344a820d1f7ebc5d","system.paths":{"root":"","base":""}}</script>
 #}

<script src="/themes/civic/dist/map_files/jquery.min.js" type="text/javascript"></script>
<script src="/themes/civic/dist/map_files/jquery-noconflict.js" type="text/javascript"></script>
<script src="/themes/civic/dist/map_files/jquery-migrate.min.js" type="text/javascript"></script>

{# 
<script src="/themes/civic/dist/map_files/bootstrap.min.js" type="text/javascript"></script>

<script src="/themes/civic/dist/map_files/common.js" type="text/javascript"></script>


<script src="/themes/civic/dist/map_files/core.js" type="text/javascript"></script>
<script src="/themes/civic/dist/map_files/jquery.autocomplete.min.js" type="text/javascript"></script>
#}
{#
<script type="text/javascript">
jQuery(window).load(function(){equalheight('.zcolumn');});jQuery(window).resize(function(){equalheight('.zcolumn');});
jQuery(document).ready(function() {
var value, searchword = jQuery('#mod-finder-searchword');

   // Get the current value.
   value = searchword.val();

   // If the current value equals the default value, clear it.
   searchword.on('focus', function ()
   {
       var el = jQuery(this);

       if (el.val() === 'How can we help?')
       {
           el.val('');
       }
   });

   // If the current value is empty, set the previous value.
   searchword.on('blur', function ()
   {
       var el = jQuery(this);

       if (!el.val())
       {
           el.val(value);
       }
   });

   jQuery('#mod-finder-searchform').on('submit', function (e)
   {
       e.stopPropagation();
       var advanced = jQuery('#mod-finder-advanced');

       // Disable select boxes with no value selected.
       if (advanced.length)
       {
           advanced.find('select').each(function (index, el)
           {
               var el = jQuery(el);

               if (!el.val())
               {
                   el.attr('disabled', 'disabled');
               }
           });
       }
   });
var suggest = jQuery('#mod-finder-searchword').autocomplete({
   serviceUrl: '/component/finder/?task=suggestions.suggest&format=json&tmpl=component',
   paramName: 'q',
   minChars: 1,
   maxHeight: 400,
   width: 300,
   zIndex: 9999,
   deferRequestBy: 500
});});
</script>
#}

{#
<style>
   body{
       font-family:'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
       background-color:rgb(255,255,255);
       color:#0B2A4A;
       line-height:1.6;
       font-size:16px;
   }
   
   a:link,
   a:visited{
       color:#008AC5;
   }
   
   a:hover{
       color:#C3D600;
   }
   
   .dark-links a:link,
   .dark-links a:visited{
       color:#666666;
   }
   
   .canvas{
               }
   
   .canvas .current.active a:link,
   .canvas .current.active a:visited{
       color:#222940;
   }
   
   .main{
       background-color:transparent;
   }
   
   .sidebar{
       background-color:transparent;
   }
   
   .navbar{
       min-height:50px;
   }
   
   .navbar-default .navbar-nav>li>a{
       /* line-height:50px; */
   }
   
   .navbar-default{
       background-color:#FFF;
   }
   
   #marquee-default{background-color:#222940}
   
   .brand-color-1{
       background-color:#222940;
       color:#FFF;
   }
   
   .brand-color-2{
       background-color:#666666;
       color:#FFF;
   }
   
   .brand-color-3{
       background-color:#004A87;
       color:#FFF;
   }
   
   .brand-color-4{
       background-color:#00B3E3;
       color:#FFF;
   }
   
   .brand-color-5{
       background-color:rgb(225,225,225);
       color:#FFF;
   }
   
   .brand-color-6{
       background-color:rgb(225,225,225);
       color:#FFF;
   }
   
   .brand-color-1-bg{
       background-color:#222940;
   }
   
   .brand-color-2-bg{
       background-color:#666666;
   }
   
   .brand-color-3-bg{
       background-color:#004A87;
   }
   
   .brand-color-4-bg{
       background-color:#00B3E3;
       color:#FFF;
   }
   
   .brand-color-5-bg{
       background-color:rgb(225,225,225);
       color:#FFF;
   }
   
   .brand-color-6-bg{
       background-color:rgb(225,225,225);
       color:#FFF;
   }
   
   .brand-color-1-txt{
       color:#222940;
   }
   
   .brand-color-2-txt{
       color:#666666;
   }
   
   .brand-color-3-txt{
       color:#004A87;
   }
   
   .brand-color-4-txt{
       color:#00B3E3;
   }
   
   .brand-color-5-txt{
       color:rgb(225,225,225);
   }
   
   .btn-default{background-color:#004a87;border-color:#004a87}
   .btn-default:hover,
   .btn-default:focus{background-color:#222940;border-color:#222940}
   
   .btn-primary,.btn-primary.disabled{background-color:#6C7A00;border-color:#6C7A00;}
   
   .btn-primary:hover,
   .btn-primary:focus,
   .nav>li>a.btn-primary:hover,
   .nav>li>a.btn-primary:focus{background-color:#C3D600;border-color:#C3D600}
   
   .btn-success{background-color:#C3D600;border-color:#C3D600}
   .btn-success:hover,
   .btn-success:focus{background-color:#6C7A00;border-color:#6C7A00}
   
   .btn-info{background-color:#007eb5;border-color:#007eb5}
   .btn-info:hover,
   .btn-info:focus{background-color:#004a87;border-color:#004a87}
   
   .btn-warning{background-color:#8D3B66;border-color:#8D3B66}
   .btn-warning:hover,
   .btn-warning:focus{background-color:#64133D;border-color:#64133D}
   
   .btn-danger{background-color:#CC0B4B;border-color:#CC0B4B}
   .btn-danger:hover,
   .btn-danger:focus{background-color:#970837;border-color:#970837}
   
           
   @media(max-width:991px){
   
       .navbar-default .navbar-offcanvas{
           
           background-color:rgb(225,225,225);
           
       }
       
       .dropdown-menu > li > a:hover, 
       .dropdown-menu > li > a:active,
       .dropdown-menu > li > a:focus,
       .dropdown-menu > .active > a,
       .dropdown-menu > .active > a:hover,
       .dropdown-menu > .active > a:active,
       .dropdown-menu > .active > a:focus{
           background-color:rgb(225,225,225);
           color:#222940			}
       
       nav.utility-nav li.active > a:link,
       nav.utility-nav li.active > a:visited,
       nav.utility-nav a:hover,
       nav.utility-nav a:focus{
           color:#FFF;
           background-color:#00B3E3;
           text-decoration:none;
       }
   
   }
   
   </style>

  
   
   <script src="/themes/civic/dist/map_files/webfont.js"></script>
<link rel="stylesheet" href="/themes/civic/dist/map_files/css_2.css" media="all"><script>
 WebFont.load({
   google: {
     families: ['Archivo+Narrow:400,400italic,700,700italic:latin']
   }
 });
</script>
   
<script>
   var header_img = "";
   
   if( typeof header_img_article !== 'undefined' ){
       header_img = header_img_article;
   }
   
       </script>
#}
<script type="text/javascript" charset="UTF-8" src="/themes/civic/dist/map_files/common(1).js"></script>
<script type="text/javascript" charset="UTF-8" src="/themes/civic/dist/map_files/util.js"></script>
<script type="text/javascript" charset="UTF-8" src="/themes/civic/dist/map_files/map.js"></script>
<script type="text/javascript" charset="UTF-8" src="/themes/civic/dist/map_files/geometry.js"></script>
<script type="text/javascript" charset="UTF-8" src="/themes/civic/dist/map_files/poly.js"></script>
<script type="text/javascript" charset="UTF-8" src="/themes/civic/dist/map_files/overlay.js"></script>
<script type="text/javascript" charset="UTF-8" src="/themes/civic/dist/map_files/stats.js"></script>
<script type="text/javascript" charset="UTF-8" src="/themes/civic/dist/map_files/onion.js"></script>
<script type="text/javascript" charset="UTF-8" src="/themes/civic/dist/map_files/controls.js"></script>
<script type="text/javascript" charset="UTF-8" src="/themes/civic/dist/map_files/geocoder.js"></script>


<div class="marquee-wrapper">
  <div id="zservicearea-module">
    <div class="zservicearea-search-bar">

      <div class="container">

        <div class="row">

          <div class="col-sm-8">
            <div class="form-inline">
              <div class="form-group">
                <label for="zservicearea_search">Find out which Division you're in</label>
                <input type="text" name="zservicearea_search" id="zservicearea_search" placeholder="Full location address" class="form-control" onkeypress="geocodeAddress(event, 'input')">
                <button type="button" class="btn btn-primary input-group-addon" onclick="geocodeAddress(event, 'button')">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          </div>

          <div class="col-sm-4 hidden-xs">


            <a href="https://www.mesawater.org/component/zdocs/document/download/1123" title="Downloadable version" class="zdoc-icon zicon-pdf icon-sm icon-reversed pull-right"><span>Downloadable version</span></a>



          </div>

        </div>

      </div>

    </div>

    <div class="zservicearea-map-wrapper">

      <div id="zmap_2064583368" class="zservicearea-map" style="width: 100%; height: 620px; position: relative; overflow: hidden;">



      </div>

      <div id="zservicearea-map-notification" class="zservicearea-map-notification" style="display: none;">
        <div class="container">
          <div class="row">
            <div class="col-xs-12" style="display:table;height:620px">
              <div class="zservice-map-notification-inner">
                <div id="zservice-notification" class="zservice-notification"><p><strong>Sorry. It looks like you are not in the Mesa Water service area.</strong></p>If you believe this is incorrect, please <a href="https://www.mesawater.org/contact">contact us</a>.</div>
                <button type="button" id="zservice-notification-close" class="btn btn-primary">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  {#
    <div style="background-color:transparent;padding:10px;display:none;position:absolute;z-index:2000;" id="testing" class="zservicearea-popup"></div>
   #}
  <script src="/themes/civic/dist/map_files/js.js"></script>
  <script src="/themes/civic/dist/map_files/zservicearea.js"></script>

  <script>

                  var map_zmap_2064583368;
                  var geocoder;
                  var default_polygon;
                  var in_service_area = false;
                  var isDraggable = !('ontouchstart' in document.documentElement);
                  var markers = [];

                  function initServiceMap() {

                    var customMapType = new google.maps.StyledMapType(
                            [
                              {
                                "featureType": "water",
                                "elementType": "geometry.fill",
                                "stylers": [{"color": "#c3c3c3"}]
                              },
                              {
                                "featureType": "transit",
                                "stylers": [
                                  {
                                    "color": "#808080"
                                  },
                                  {
                                    "visibility": "off"
                                  }]
                              },
                              {
                                "featureType": "road.highway",
                                "elementType": "geometry.stroke",
                                "stylers": [
                                  {
                                    "visibility": "off"
                                  }]
                              },
                              {
                                "featureType": "road.highway",
                                "elementType": "geometry.fill",
                                "stylers": [
                                  {
                                    "color": "#989898"
                                  }]
                              },
                              {
                                "featureType": "road.local",
                                "elementType": "geometry.fill",
                                "stylers": [
                                  {
                                    "visibility": "on"
                                  },
                                  {
                                    "color": "#d5d5d5"
                                  },
                                  {
                                    "weight": 1.8
                                  }]
                              },
                              {
                                "featureType": "road.local",
                                "elementType": "geometry.stroke",
                                "stylers": [
                                  {
                                    "visibility": "off"
                                  },
                                  {
                                    "color": "#d7d7d7"
                                  }]
                              },
                              {
                                "featureType": "poi",
                                "elementType": "geometry.fill",
                                "stylers": [
                                  {
                                    "visibility": "on"
                                  },
                                  {
                                    "color": "#ebebeb"
                                  }]
                              },
                              {
                                "featureType": "administrative",
                                "elementType": "geometry",
                                "stylers": [
                                  {
                                    "color": "#a7a7a7"
                                  }]
                              },
                              {
                                "featureType": "road.arterial",
                                "elementType": "geometry.fill",
                                "stylers": [
                                  {
                                    "color": "#ffffff"
                                  }]
                              },
                              {
                                "featureType": "road.arterial",
                                "elementType": "geometry.fill",
                                "stylers": [
                                  {
                                    "color": "#ffffff"
                                  }]
                              },
                              {
                                "featureType": "landscape",
                                "elementType": "geometry.fill",
                                "stylers": [
                                  {
                                    "visibility": "on"
                                  },
                                  {
                                    "color": "#e3e3e3"
                                  }]
                              },
                              {
                                "featureType": "road",
                                "elementType": "labels.text.fill",
                                "stylers": [
                                  {
                                    "color": "#333333"
                                  }]
                              },
                              {
                                "featureType": "administrative",
                                "elementType": "labels.text.fill",
                                "stylers": [
                                  {
                                    "visibility": "on"
                                  },
                                  {
                                    "color": "#333333"
                                  }]
                              },
                              {
                                "featureType": "poi",
                                "elementType": "labels.icon",
                                "stylers": [
                                  {
                                    "visibility": "off"
                                  }]
                              },
                              {
                                "featureType": "poi",
                                "elementType": "labels",
                                "stylers": [
                                  {
                                    "visibility": "off"
                                  }]
                              },
                              {
                                "featureType": "road.arterial",
                                "elementType": "geometry.stroke",
                                "stylers": [
                                  {
                                    "color": "#d6d6d6"
                                  }]
                              },
                              {
                                "featureType": "road",
                                "elementType": "labels.icon",
                                "stylers": [
                                  {
                                    "visibility": "on"
                                  },
                                  {
                                    "hue": "#000000"
                                  }, {
                                    "saturation": "-100"
                                  }]
                              },
                              {

                              },
                              {
                                "featureType": "poi",
                                "elementType": "geometry.fill",
                                "stylers": [
                                  {
                                    "visibility": "off"
                                  }]
                              }]

                            , {
                              name: 'Mesa Water Style'
                            });

                    var customMapTypeId = 'custom_style';

                    map_zmap_2064583368 = new google.maps.Map(document.getElementById('zmap_2064583368'), {
                      zoom: 13,
                      center: {lat: 33.659625, lng: -117.919042},
                      scrollwheel: 0,
                      zoomControl: 1,
                      scaleControl: 0,
                      mapTypeControl: 0,
                      streetViewControl: 0,
                      rotateControl: 0,
                      fullscreenControl: 1,
                      draggable: isDraggable,
                      mapTypeControlOptions: {
                        mapTypeIds: [google.maps.MapTypeId.ROADMAP, customMapTypeId]
                      }

                    });

                    map_zmap_2064583368.mapTypes.set(customMapTypeId, customMapType);
                    map_zmap_2064583368.setMapTypeId(customMapTypeId);

                    google.maps.event.addDomListener(window, 'resize', function () {
                      var center = map_zmap_2064583368.getCenter();
                      google.maps.event.trigger(map_zmap_2064583368, "resize");
                      map_zmap_2064583368.setCenter(center);
                    });




                    window.areas = [];


                    var outer_points = [];
                    var default_points = '-117.925279946283183,33.630488952367216 -117.92532170655565,33.630436891883832 -117.925368119571885,33.630375053749923 -117.925412267679107,33.630312065770767 -117.925454110385587,33.630247985887294 -117.925468904378491,33.630223598191641 -117.925474620805957,33.630213989551109 -117.925476548644141,33.630210996720635 -117.925493608752646,33.630182873297962 -117.925499529886267,33.630172331203099 -117.925501647309119,33.630168561286986 -117.925530726574948,33.630116788016828 -117.925565429698494,33.630049790740657 -117.925597686198728,33.629981943272583 -117.925627466205171,33.629913308240511 -117.925654742572405,33.629843948661595 -117.925665200562904,33.629814358545502 -117.925679489702532,33.629773928526774 -117.925701685237243,33.629703312493469 -117.925721308691834,33.629632165477958 -117.925738341629895,33.629560552937058 -117.925752768854906,33.629488540994252 -117.925762707441891,33.629428827280051 -117.925767156601012,33.629400767217895 -117.925780291445903,33.629329668221359 -117.925796037366155,33.629258941270379 -117.92581437951452,33.629188653618023 -117.925835300480756,33.629118871699411 -117.925858780305148,33.629049661841606 -117.925884796637931,33.628981089693497 -117.925913325081098,33.628913220362953 -117.92594433833159,33.628846118002478 -117.925977807041136,33.628779846365731 -117.925982297850254,33.628771368498278 -117.926039717486034,33.628663545726525 -117.926239007723197,33.628368025881755 -117.926928652645728,33.627448005797568 -117.926977238552467,33.627379720677432 -117.927060535788954,33.6272604504885 -117.927141318363553,33.627139756066875 -117.927199816856927,33.627049167388336 -117.927207825251159,33.627033002880708 -117.927280109398964,33.626910535680175 -117.927348385132362,33.626783613811611 -117.927412219791378,33.62665518839264 -117.927471308672153,33.626524567555798 -117.927522384486579,33.626392106977434 -117.927570937772245,33.626259485982416 -117.927614510333683,33.626125121250524 -117.927652599988576,33.625989743225553 -117.927667224903786,33.625930637313012 -117.9276855506494,33.625852937141794 -117.927727538505039,33.625644277282341 -117.927735323745296,33.625636812982663 -117.92772920771823,33.625635981876783 -117.927737928047463,33.625592645827744 -117.927766517659634,33.62545056817661 -117.927892237988615,33.624803054662088 -117.927904023072102,33.624742355815783 -117.927652184509441,33.624683007636463 -117.927556148476782,33.624660375657662 -117.927517879906958,33.624651357201301 -117.927550037318923,33.624559259660359 -117.927959422503037,33.623386779350824 -117.928026891554154,33.623238708087065 -117.928082990392141,33.6231155900225 -117.928244690558259,33.622640672595665 -117.928246113155097,33.622636713549589 -117.928273156423202,33.622557442346675 -117.928297656633674,33.622477594646412 -117.928319596554005,33.622397227650559 -117.928338960309773,33.622316398542345 -117.928355212146656,33.622237904695055 -117.928414322182206,33.621916828016587 -117.928424306644544,33.621865911657778 -117.928545127482565,33.621249774780438 -117.92857099853174,33.621117841760899 -117.929032149837226,33.62110513070418 -117.929310825229294,33.621087117214508 -117.929314060381756,33.621086908077316 -117.929421123682502,33.62108043177232 -117.92953688398822,33.621075560558545 -117.929652746873074,33.62107289511944 -117.929768652256712,33.621072436690824 -117.929839604107627,33.621073507519569 -117.929884540042423,33.62107418565671 -117.930000350275819,33.621078140978561 -117.930116022813621,33.621084300626393 -117.930231497827506,33.621092661287364 -117.930346715475196,33.621103218938899 -117.930461616054188,33.621115967993923 -117.930489711434802,33.621119424884782 -117.930508309255401,33.621121757578642 -117.930511857278205,33.621122202591842 -117.930552346761942,33.621127281106901 -117.930726367790655,33.6211491080347 -117.930773307991018,33.62115025658094 -117.930784713442577,33.621150535658494 -117.931386343168128,33.621165254960104 -117.932239172472592,33.621283653016903 -117.932371937581777,33.62130208419903 -117.933504704671051,33.621459335167451 -117.935137677460276,33.621686005542649 -117.935504863219379,33.621736970993886 -117.935515257050028,33.621738446121284 -117.935637892559612,33.621757065044775 -117.935760029817772,33.621777850120978 -117.935881614307107,33.621800791718179 -117.936002591504675,33.621825879920877 -117.936122907369139,33.621853103386613 -117.9362425080121,33.62188244991853 -117.9363613398653,33.621913906321296 -117.936406434821649,33.621926452881752 -117.93686295721254,33.622057822822804 -117.937009606634561,33.622100022575488 -117.937369720896044,33.622203647887261 -117.937297682967284,33.622278711158842 -117.937004385184608,33.622584324643228 -117.934510406022909,33.625061949115491 -117.934444507932326,33.625127412467819 -117.934480610876946,33.625179565760106 -117.935933842945829,33.627330923988971 -117.936122502600483,33.627610636094154 -117.936122546074955,33.627614534053087 -117.93612500798379,33.627614350653502 -117.939028555268862,33.631918965967806 -117.939017807689183,33.631925019918974 -117.939368001062562,33.632421999067269 -117.939602001084992,33.63276999905375 -117.94030700109478,33.63381399906168 -117.940542001097924,33.634162999073801 -117.94079300108632,33.634535999060297 -117.941549001079963,33.635655999056503 -117.941801001066338,33.636029999074125 -117.94210600107273,33.636477999071246 -117.94275100109742,33.637426999057588 -117.943022001063582,33.637823999052642 -117.943328001081895,33.638272999058167 -117.943894001097078,33.639141999054274 -117.944015466854808,33.639328184582922 -117.944026775365316,33.639327846029254 -117.944815249735669,33.640496470007498 -117.943886086177542,33.64271974744856 -117.943675549366006,33.643262702212219 -117.949246779548574,33.643217217446889 -117.953370097592114,33.643197702525526 -117.953305491903464,33.643409631915013 -117.952427423806924,33.64628989556816 -117.952288390791551,33.646784715692135 -117.952286174782088,33.646785205106788 -117.951885447458054,33.648111430358774 -117.95111466131965,33.6505960772744 -117.948826030909188,33.657667951959276 -117.948772105222872,33.657847928796734 -117.944042001070954,33.657885999066011 -117.943919001083927,33.657883999078429 -117.940733700080074,33.657816646429801 -117.932338555487405,33.657885836004553 -117.932177763316119,33.657871299235502 -117.932170001071512,33.657776999063735 -117.932156001091883,33.657719999080143 -117.932148001086233,33.657681999082882 -117.932148001097048,33.657546999085497 -117.932148001063638,33.657489999074585 -117.932148001093026,33.657206999085851 -117.932149001057326,33.65636199905564 -117.932150001089397,33.656079999080987 -117.9321400010964,33.655679999061235 -117.932138001088973,33.655642999052255 -117.932133001073069,33.655518999080535 -117.932124001079245,33.655219999080188 -117.932120001062614,33.655079999081117 -117.932120001091818,33.654879999076286 -117.932110001076367,33.654669999079992 -117.932110001078044,33.654419999055428 -117.932110001072829,33.654334999051962 -117.932110001096433,33.654269999054009 -117.932100001062665,33.653989999082839 -117.932110001097072,33.653899999054488 -117.932110001074562,33.653809999063952 -117.932110001061076,33.653755999068615 -117.932110001091047,33.653479999079366 -117.932110001080332,33.653323999077081 -117.93211000108677,33.653179999069138 -117.932097001062672,33.653035999052065 -117.932090001072851,33.652949999078992 -117.932090001075082,33.652809999081974 -117.932082001066604,33.652603999076582 -117.932080001072677,33.652519999086529 -117.932080001092473,33.652459999071425 -117.932080001079456,33.652447999068542 -117.932080001082809,33.652411999059005 -117.932080001069778,33.652399999055959 -117.932078001066131,33.652048999081046 -117.93207300108881,33.65131799907607 -117.932072001061371,33.650998999074531 -117.93207000106193,33.650649999057514 -117.932063001071143,33.649923999084926 -117.932060001059824,33.649449999079117 -117.932060001091813,33.648009999069529 -117.932060001085574,33.647745999081643 -117.932060001059114,33.647019999084733 -117.930960001076656,33.64701999907814 -117.92986000105833,33.647029999063356 -117.929730001091457,33.647029999078768 -117.929639001090919,33.647030999062586 -117.928979001069578,33.647044999054735 -117.928760001093295,33.647049999069488 -117.928546001089927,33.647051999062754 -117.928297001063953,33.647052999053066 -117.928147001071665,33.647054999085277 -117.927904001064078,33.647057999075351 -117.92769000109196,33.647059999054427 -117.92769000108278,33.646855999064556 -117.927690001090667,33.646689999080678 -117.927689001089462,33.64666999908107 -117.927688001076149,33.646612999053438 -117.927685001091405,33.646328999072537 -117.927681001088288,33.646046999083715 -117.927679001070999,33.645904999056995 -117.927675001066689,33.645646999069825 -117.927673001058153,33.645560999081006 -117.927670001058246,33.645367999070082 -117.927668001082253,33.64521599905131 -117.927665001083597,33.644967999059567 -117.927665001057889,33.644911999070082 -117.927664001058304,33.644762999076043 -117.927663001078884,33.644679999074171 -117.927660001063956,33.644429999069267 -117.927660001087958,33.64439999905516 -117.927655001061879,33.644217999085555 -117.927654001057974,33.644135999062399 -117.927645001082112,33.643674999068715 -117.92764600108049,33.643629999058966 -117.927643001066585,33.643405999084365 -117.924760001076478,33.643429999082691 -117.92330600107519,33.643441999078966 -117.923295001069363,33.642535999063263 -117.923292001097479,33.642353999063566 -117.923289001094531,33.642081999057922 -117.923286001068576,33.641809999069395 -117.923284001088433,33.641628999062739 -117.923282001083336,33.641504999075181 -117.923278001070415,33.641134999071134 -117.923277001067873,33.641011999059067 -117.923274001061301,33.640771999069379 -117.923265001089987,33.640053999063959 -117.923262001061076,33.639814999077856 -117.923259001069354,33.639626999082324 -117.923252001059865,33.639062999079925 -117.923250001079012,33.638874999084962 -117.923246001075057,33.638584999079484 -117.923245001097612,33.638552999058916 -117.923235001085033,33.637715999069407 -117.923232001084742,33.637426999077491 -117.923229001084522,33.637244999056804 -117.923223001092012,33.636700999071238 -117.923221001067418,33.636519999080576 -117.92328700106458,33.636451999073167 -117.923489001063032,33.636248999059909 -117.923556001089352,33.636181999066871 -117.923575001088537,33.63616199905951 -117.923633001092483,33.636103999069654 -117.92365300107312,33.636084999073987 -117.923336001064015,33.636131999079403 -117.922387001066511,33.63627599908115 -117.92207100108287,33.636324999069821 -117.922126001071035,33.636080999053227 -117.922187001067357,33.635744999078518 -117.922485001084965,33.634126999055731 -117.922511001097874,33.634002999079257 -117.92253600108306,33.633885999064383 -117.922593001066417,33.633682999072526 -117.922681001068312,33.633437999068022 -117.922745001082916,33.633285999054408 -117.922759001077608,33.633255999069604 -117.92284000107864,33.633092999079608 -117.922947001084665,33.632904999077162 -117.923051001070135,33.632742999077095 -117.923066001091968,33.632720999059806 -117.923167001086952,33.632582999075872 -117.923197001074485,33.632542999084009 -117.923338001077553,33.632371999069917 -117.9234860010734,33.632210999074189 -117.923491001066765,33.632205999067025 -117.923653001091807,33.632047999053214 -117.923826001083256,33.631896999064374 -117.924007001089009,33.631753999065971 -117.924630001095508,33.631289999059994 -117.924750001067437,33.631200999066962 -117.925016001064776,33.630987999056288 -117.924800293853522,33.630843439411137 -117.924850066548757,33.630794835258904 -117.924871413152033,33.63077398461197 -117.925018132939812,33.630611467730269 -117.925147889819058,33.63043914964026 -117.925148579411527,33.63043804459155 -117.925258771543596,33.63051461925496 -117.925270836892594,33.630500194425942 -117.925273071179063,33.630497523198478 -117.925273332619099,33.630497690588008 -117.925279946283183,33.630488952367216';
                    var split_string = default_points.split(" ");

                    for (var i = 0; i < split_string.length; i++) {

                      var point = split_string[i].split(",");
                      outer_points.push({"lat": parseFloat(point[1]), "lng": parseFloat(point[0])});

                    }

                    var inner_points = [];


                    var area_1_polygon = new google.maps.Polygon({
                      paths: [outer_points, inner_points],
                      strokeColor: "#006680",
                      strokeOpacity: 1,
                      strokeWeight: 2,
                      fillColor: "#006680",
                      fillOpacity: 0.3,
                      map: map_zmap_2064583368});


                    var lbl_lat = parseFloat(33.633);
                    var lbl_lng = parseFloat(-117.94);


                    overlay = new CustomMarker(
                            new google.maps.LatLng(lbl_lat, lbl_lng),
                            map_zmap_2064583368,
                            {
                              marker_id: '1',
                              division: 'Division 1',
                              contact_name: 'Fred R. Bockmiller, P.E.',
                              label_direction: 'right',
                              contact_image: 'images/Fred_highres_bio.jpg'
                            }
                    );

                    //attachPolygonInfoWindow(area_1_polygon, '<div style="padding:10px;background-color:#FF3300;">TEST</div>');

                    window.areas.push(area_1_polygon);


                    var outer_points = [];
                    var default_points = '-117.939339316883007,33.686976593452378 -117.939315099384146,33.687016922875699 -117.939245163900353,33.687133386119832 -117.939242365837345,33.687138045749826 -117.939237357176523,33.687146386621237 -117.939166346746717,33.687268994314742 -117.939160448800024,33.687279177742404 -117.938767071762626,33.68795838113293 -117.937829495113334,33.689494088695945 -117.937341577455229,33.690254029699574 -117.937245553237673,33.690390281584747 -117.937164028369196,33.690523194215316 -117.935868382130778,33.692467311436488 -117.935867296217182,33.692469508977112 -117.933952182779066,33.695340556863819 -117.932810001094325,33.694879999085906 -117.929060001090789,33.693299999051241 -117.928710001090906,33.693169999054518 -117.924416001069574,33.691411999083634 -117.923506001092008,33.691061999059571 -117.923280001094952,33.690929999086379 -117.919900001077593,33.689539999072927 -117.919640001087942,33.689439999072583 -117.919530001061375,33.689399999054238 -117.919482001070222,33.689380999062195 -117.919412001086044,33.689354999060356 -117.919320001075377,33.689319999059059 -117.919320001078873,33.688969999063559 -117.919310001089926,33.688829999067032 -117.919310001060254,33.688199999083125 -117.91932000109442,33.687979999065647 -117.91932000106388,33.687249999080677 -117.919310001082422,33.687029999061338 -117.919260001059982,33.68571999906149 -117.919260001066803,33.683939999078767 -117.919270001066309,33.683649999055341 -117.919240001083736,33.681969999061117 -117.919210001091813,33.680049999062945 -117.919200001070024,33.679559999072588 -117.919200001061114,33.679099999081338 -117.919210001062552,33.677569999062918 -117.919180001058265,33.676119999071823 -117.919180001075489,33.675669999067054 -117.91919000105861,33.675239999079565 -117.919190001085681,33.67428999905907 -117.919190001097036,33.67384999906934 -117.919180001094986,33.673409999066955 -117.919179001098101,33.673358999076456 -117.919180001072689,33.673324999052774 -117.919180001093508,33.673239999071576 -117.919160001059197,33.672221999086069 -117.919130001058519,33.670419999070731 -117.919120001098534,33.668439999053476 -117.919120001086199,33.668319999087011 -117.919094001064238,33.666790999061874 -117.919106001059859,33.66602199905811 -117.919101001073216,33.665229999061836 -117.919090001089685,33.663269999078729 -117.919077001070093,33.66093799908225 -117.919080001097541,33.659859999055463 -117.919067154421157,33.657969707500719 -117.919218001061239,33.657970999071047 -117.921350001083098,33.657939999053333 -117.923520001090921,33.657939999083588 -117.923520001081499,33.657579999074954 -117.923401001088521,33.657581999051665 -117.923048001078669,33.657587999067538 -117.922930001080317,33.657589999061528 -117.92292800108558,33.657300999058847 -117.922926001066202,33.657133999079051 -117.922924001057424,33.656757999063608 -117.92292200107336,33.656436999057028 -117.922920001074502,33.656149999082395 -117.922888001081049,33.656133999068928 -117.922871001071357,33.656128999064165 -117.922770001081773,33.656149999062578 -117.922799001085266,33.65542399908442 -117.922830001093942,33.654649999053262 -117.922826001089376,33.65427199906231 -117.922821001061891,33.653796999082296 -117.922820001090088,33.653699999055853 -117.922820001064792,33.653515999054591 -117.922820001079884,33.65342999905954 -117.92281400109222,33.653272999074915 -117.922813001097211,33.653245999070108 -117.922810001091491,33.653149999075062 -117.922810001086688,33.652829999057197 -117.922810001071014,33.652519999060267 -117.923046001075051,33.652519999052828 -117.923754001097194,33.652519999084717 -117.923760001090756,33.652519999078116 -117.923990001092875,33.652519999066271 -117.924110001089261,33.652509999063241 -117.924210001077469,33.652509999054921 -117.924680001073469,33.652509999063184 -117.92477000106696,33.65250999908114 -117.924873001083753,33.65250999908119 -117.925095001078262,33.6525099990642 -117.925279001087574,33.652509999057209 -117.925380001085983,33.652509999055937 -117.925831001075167,33.652501999070587 -117.925990001065273,33.652499999084377 -117.926015001076891,33.652499999067743 -117.926368001060453,33.65249999906203 -117.927270001078426,33.652499999058989 -117.927427001078627,33.652492999064421 -117.927780001090028,33.652479999055089 -117.927770001088007,33.652121999071149 -117.927750001066556,33.651299999066005 -117.927750001079119,33.651047999086401 -117.927750001081279,33.650689999063751 -117.927742001072502,33.650269999077452 -117.927733001067779,33.64983399905168 -117.927723001065104,33.649284999061777 -117.92771800108811,33.649009999061136 -117.927710001093828,33.648589999072364 -117.927710001055402,33.648453999074654 -117.92771000109262,33.648399999076119 -117.927707001090425,33.648283999054634 -117.927700001090699,33.648009999075512 -117.927699001072838,33.647924999058333 -117.927693001076477,33.647365999061236 -117.92769000109196,33.647059999054427 -117.927904001064078,33.647057999075351 -117.928147001071665,33.647054999085277 -117.928297001063953,33.647052999053066 -117.928546001089927,33.647051999062754 -117.928760001093295,33.647049999069488 -117.928979001069578,33.647044999054735 -117.929639001090919,33.647030999062586 -117.929730001091457,33.647029999078768 -117.92986000105833,33.647029999063356 -117.930960001076656,33.64701999907814 -117.932060001059114,33.647019999084733 -117.932060001085574,33.647745999081643 -117.932060001091813,33.648009999069529 -117.932060001059824,33.649449999079117 -117.932063001071143,33.649923999084926 -117.93207000106193,33.650649999057514 -117.932072001061371,33.650998999074531 -117.93207300108881,33.65131799907607 -117.932078001066131,33.652048999081046 -117.932080001069778,33.652399999055959 -117.932080001082809,33.652411999059005 -117.932080001079456,33.652447999068542 -117.932080001092473,33.652459999071425 -117.932080001072677,33.652519999086529 -117.932082001066604,33.652603999076582 -117.932090001075082,33.652809999081974 -117.932090001072851,33.652949999078992 -117.932097001062672,33.653035999052065 -117.93211000108677,33.653179999069138 -117.932110001080332,33.653323999077081 -117.932110001091047,33.653479999079366 -117.932110001061076,33.653755999068615 -117.932110001074562,33.653809999063952 -117.932110001097072,33.653899999054488 -117.932100001062665,33.653989999082839 -117.932110001096433,33.654269999054009 -117.932110001072829,33.654334999051962 -117.932110001078044,33.654419999055428 -117.932110001076367,33.654669999079992 -117.932120001091818,33.654879999076286 -117.932120001062614,33.655079999081117 -117.932124001079245,33.655219999080188 -117.932133001073069,33.655518999080535 -117.932138001088973,33.655642999052255 -117.9321400010964,33.655679999061235 -117.932150001089397,33.656079999080987 -117.932149001057326,33.65636199905564 -117.932148001093026,33.657206999085851 -117.932148001063638,33.657489999074585 -117.932148001097048,33.657546999085497 -117.932148001086233,33.657681999082882 -117.932156001091883,33.657719999080143 -117.932170001071512,33.657776999063735 -117.932177766648778,33.657871339891813 -117.932338555487405,33.657885836004553 -117.939749592126887,33.657823155250284 -117.940733700080074,33.657816646429801 -117.943919001083927,33.657883999078429 -117.944042001070954,33.657885999066011 -117.948772105222872,33.657847928796734 -117.948775360421095,33.657845872919474 -117.945731657318873,33.668531943301979 -117.945999706109617,33.668529820218652 -117.945034822330825,33.671920843827287 -117.944861901499237,33.672578200155527 -117.944285481623538,33.672585195358664 -117.943605635070355,33.674975041647322 -117.942940836802748,33.677089054784624 -117.942163659057712,33.679272006679739 -117.941240031523606,33.681520208252621 -117.940921597034304,33.6822396017335 -117.940037984662567,33.684099118203569 -117.939886062388837,33.684400429549527 -117.939772364057106,33.684625928900267 -117.939500936786786,33.685150671007001 -117.93895529002107,33.686167170239237 -117.938501849400836,33.686976759190863 -117.938593800255063,33.686976741269909 -117.939339316883007,33.686976593452378';
                    var split_string = default_points.split(" ");

                    for (var i = 0; i < split_string.length; i++) {

                      var point = split_string[i].split(",");
                      outer_points.push({"lat": parseFloat(point[1]), "lng": parseFloat(point[0])});

                    }

                    var inner_points = [];


                    var area_2_polygon = new google.maps.Polygon({
                      paths: [outer_points, inner_points],
                      strokeColor: "#004A87",
                      strokeOpacity: 1,
                      strokeWeight: 2,
                      fillColor: "#004A87",
                      fillOpacity: 0.3,
                      map: map_zmap_2064583368});


                    //This gets the center of the polygon, but since they are such complex shapes
                    //the center is not always technically in the polygon shape. Damn.
                    var lbl_lat = area_2_polygon.my_getBounds().getCenter().lat();
                    var lbl_lng = area_2_polygon.my_getBounds().getCenter().lng();


                    overlay = new CustomMarker(
                            new google.maps.LatLng(lbl_lat, lbl_lng),
                            map_zmap_2064583368,
                            {
                              marker_id: '2',
                              division: 'Division 2',
                              contact_name: 'James R. Fisler',
                              label_direction: 'right',
                              contact_image: 'images/board/Fisler_400x400.jpg'
                            }
                    );



                    //attachPolygonInfoWindow(area_2_polygon, '<div style="padding:10px;background-color:#FF3300;">TEST</div>');

                    window.areas.push(area_2_polygon);


                    var outer_points = [];
                    var default_points = '-117.895516306175963,33.696348263169142 -117.892170001094513,33.696367840623282 -117.892162304682955,33.69505132124182 -117.892160001072213,33.694657271021946 -117.892152734091823,33.694335803874822 -117.892151828161957,33.69424073020987 -117.890980001068087,33.694289999073078 -117.889839001061816,33.694288999072725 -117.88559000106315,33.694269999076454 -117.885370001060039,33.694269999083673 -117.883567976509241,33.694254119082792 -117.883569144219436,33.694289830800976 -117.877680180152808,33.694268829485765 -117.876660568401377,33.694264689656343 -117.876661337724471,33.694305905787409 -117.868351116359491,33.694275045668967 -117.868350867255316,33.694219379725517 -117.868350657250787,33.694172449779458 -117.868340932128405,33.691999093472432 -117.872084111827988,33.687842495655701 -117.871936915773617,33.687740144302822 -117.872256001097455,33.687432999068939 -117.872429001075773,33.687270999068183 -117.872491001082395,33.687177999084739 -117.872757001091728,33.686931999053392 -117.876857001075066,33.682644999060081 -117.877430001087475,33.682049999066045 -117.877990001065143,33.681469999079859 -117.879170001076091,33.680209999085626 -117.879370001096476,33.680009999081328 -117.879430001060527,33.679939999083018 -117.879490001094936,33.679959999054134 -117.879800001099142,33.680029999078442 -117.87986200105847,33.680035999071343 -117.880200001061667,33.680069999065744 -117.880370001064421,33.680089999080231 -117.881787001065831,33.680089999058779 -117.882430001076912,33.680089999086192 -117.882627001058921,33.680080999077646 -117.882660001080112,33.68007999907605 -117.883220001060423,33.680089999057046 -117.883418001065095,33.680093999062883 -117.883730001061934,33.680099999083097 -117.883870001097876,33.680099999057589 -117.885080001096128,33.680099999086011 -117.885228001073656,33.680099999083701 -117.885566001082012,33.680099999085705 -117.885590001076466,33.680099999085371 -117.885680001087195,33.680109999058381 -117.886098001057064,33.680111999061857 -117.887352001069885,33.680117999083691 -117.887770001093756,33.680119999059443 -117.888117001072303,33.680122999065823 -117.88875000107511,33.680129999066381 -117.889161001092106,33.680129999086425 -117.889510001057658,33.680129999051864 -117.890850001079045,33.680119999069888 -117.891874001098103,33.680113999067849 -117.892075001092792,33.680112999058025 -117.892799001095369,33.680111999060387 -117.89287600108814,33.680100999060585 -117.893259001089845,33.680110999078693 -117.894470001085054,33.680109999056185 -117.894930001091382,33.680109999065785 -117.895640001077297,33.680119999056288 -117.896910001076279,33.680119999054696 -117.897090001068023,33.680119999063876 -117.897790001067548,33.680119999060345 -117.898650001094865,33.68012999907706 -117.898776001093339,33.680129999061286 -117.899156001067126,33.680131999065082 -117.899283001061491,33.680132999068839 -117.899408001069119,33.680132999067439 -117.899784001076199,33.680134999063313 -117.899910001086923,33.680135999085515 -117.900092001080822,33.680135999057782 -117.900638001067648,33.680138999085514 -117.900820001081257,33.68013999907248 -117.900882001058051,33.680139999076751 -117.901068001076794,33.680139999080936 -117.901130001098082,33.680139999067862 -117.901293001069192,33.680139999071393 -117.901782001091661,33.6801399990809 -117.901946001086941,33.680139999084794 -117.902070001062057,33.680139999079117 -117.902445001068116,33.680139999056507 -117.902570001061392,33.680139999082634 -117.902588001079707,33.680139999070128 -117.902642001092772,33.680139999053118 -117.902660001069222,33.680139999066334 -117.902874001069051,33.680139999067684 -117.903180001065067,33.680139999074292 -117.90345000107574,33.680139999072736 -117.903516001067729,33.680139999070413 -117.903730001095155,33.680139999058696 -117.903943001079512,33.680139999086613 -117.904240001092347,33.680139999082549 -117.90458400108902,33.680139999076438 -117.904798001066538,33.680139999079614 -117.905408001064728,33.680139999077142 -117.905500001085926,33.680139999051924 -117.905950001094453,33.680149999063012 -117.906670001059865,33.680159999075393 -117.907240001088326,33.680164999055826 -117.907680001093425,33.680169999079688 -117.907680001060825,33.679379999073532 -117.907680001073729,33.678969999075775 -117.907700001088827,33.678679999074269 -117.90770000106906,33.678189999062255 -117.907704001085733,33.677812999053231 -117.907710001089782,33.677159999083941 -117.907730001059932,33.676129999065097 -117.90773000108986,33.676019999052443 -117.907730001075834,33.675889999075991 -117.907740001061228,33.675709999060814 -117.907690001059137,33.674669999058111 -117.907670001085648,33.674069999064237 -117.907870001071402,33.674059999073016 -117.907800001071763,33.673059999067881 -117.907800001071337,33.673016999070256 -117.907830001082843,33.670599999077908 -117.907840001091103,33.670279999067581 -117.907834001075742,33.669883999075772 -117.907820001064849,33.668839999074159 -117.9078180010642,33.668561999066476 -117.907812001098932,33.667727999063679 -117.90781000106638,33.667449999082059 -117.909684001090582,33.667442999074957 -117.913310001079296,33.667429999062144 -117.913420001071088,33.667379999084424 -117.91407000108704,33.667379999083515 -117.914520001068723,33.6673899990557 -117.914850001073148,33.667429999073406 -117.915100001078869,33.667509999082782 -117.915270001068606,33.667576999068821 -117.915580001061159,33.667699999072731 -117.915960001063169,33.667909999056924 -117.916090001060653,33.667929999070516 -117.916230001089573,33.668019999081338 -117.91643000109228,33.668109999073728 -117.916910001078605,33.668259999051905 -117.917280001077216,33.668309999083888 -117.917620001091791,33.668329999073428 -117.919120001086199,33.668319999087011 -117.919120001098534,33.668439999053476 -117.919130001058519,33.670419999070731 -117.919160001059197,33.672221999086069 -117.919180001093508,33.673239999071576 -117.919180001072689,33.673324999052774 -117.919179001098101,33.673358999076456 -117.919180001094986,33.673409999066955 -117.919190001097036,33.67384999906934 -117.919190001085681,33.67428999905907 -117.91919000105861,33.675239999079565 -117.919180001075489,33.675669999067054 -117.919180001058265,33.676119999071823 -117.919210001062552,33.677569999062918 -117.919200001061114,33.679099999081338 -117.919200001070024,33.679559999072588 -117.919210001091813,33.680049999062945 -117.919240001083736,33.681969999061117 -117.919270001066309,33.683649999055341 -117.919260001066803,33.683939999078767 -117.919260001059982,33.68571999906149 -117.919310001082422,33.687029999061338 -117.91932000106388,33.687249999080677 -117.91932000109442,33.687979999065647 -117.919310001060254,33.688199999083125 -117.919310001089926,33.688829999067032 -117.919320001078873,33.688969999063559 -117.919320001075377,33.689319999059059 -117.919412001086044,33.689354999060356 -117.919482001070222,33.689380999062195 -117.919530001061375,33.689399999054238 -117.919640001087942,33.689439999072583 -117.919900001077593,33.689539999072927 -117.923280001094952,33.690929999086379 -117.923506001092008,33.691061999059571 -117.924416001069574,33.691411999083634 -117.928710001090906,33.693169999054518 -117.929060001090789,33.693299999051241 -117.932810001094325,33.694879999085906 -117.933952182779066,33.695340556863819 -117.929510647553926,33.702003597849796 -117.929321955331957,33.702005241511941 -117.927172952987775,33.702023941071886 -117.927172377474491,33.702023371434521 -117.92578000106387,33.702039999065477 -117.923960001095935,33.702049999070454 -117.923210001076541,33.702049999082284 -117.922210001078568,33.702059999077342 -117.921700001085355,33.702059999077484 -117.921320001082861,33.702069999081544 -117.919420068621619,33.702064926209431 -117.91945000109709,33.701949999078813 -117.919440001069702,33.701269999084531 -117.919440001095907,33.700969999074971 -117.919430001066502,33.700249999062471 -117.919420001064168,33.699219999053504 -117.919420001067706,33.697709999069104 -117.919347148464027,33.695588294199077 -117.919090001078345,33.695579999063582 -117.918748001063221,33.695579999077282 -117.918560001079243,33.695579999085552 -117.917760001078278,33.695589999081648 -117.917240001078682,33.695599999068435 -117.916252001091195,33.695604999077162 -117.91542000108177,33.695609999057538 -117.915327113755097,33.695612234445278 -117.9153309878903,33.695721604548339 -117.907828953518433,33.695867042514159 -117.90780723476017,33.695867462915878 -117.907810457373003,33.696072051856788 -117.907812297329926,33.696188860207371 -117.907708159806873,33.69618968631459 -117.905518602949485,33.696207035908337 -117.905421362802798,33.696228912069714 -117.905150833430582,33.696283265015076 -117.904020001088853,33.696304716576734 -117.903119948241624,33.696324521115407 -117.898093029808706,33.696382467044614 -117.898091072369368,33.696385461428136 -117.898005782539798,33.696383608911738 -117.897033412263838,33.696382208564565 -117.896926747875085,33.696360167410177 -117.896919001098127,33.696359999071802 -117.896819493051709,33.696357540245593 -117.896827878497277,33.696340565366256 -117.896259069968238,33.696343905492974 -117.895516306175963,33.696348263169142';
                    var split_string = default_points.split(" ");

                    for (var i = 0; i < split_string.length; i++) {

                      var point = split_string[i].split(",");
                      outer_points.push({"lat": parseFloat(point[1]), "lng": parseFloat(point[0])});

                    }

                    var inner_points = [];


                    var area_3_polygon = new google.maps.Polygon({
                      paths: [outer_points, inner_points],
                      strokeColor: "#008AC5",
                      strokeOpacity: 1,
                      strokeWeight: 2,
                      fillColor: "#008AC5",
                      fillOpacity: 0.3,
                      map: map_zmap_2064583368});


                    //This gets the center of the polygon, but since they are such complex shapes
                    //the center is not always technically in the polygon shape. Damn.
                    var lbl_lat = area_3_polygon.my_getBounds().getCenter().lat();
                    var lbl_lng = area_3_polygon.my_getBounds().getCenter().lng();


                    overlay = new CustomMarker(
                            new google.maps.LatLng(lbl_lat, lbl_lng),
                            map_zmap_2064583368,
                            {
                              marker_id: '3',
                              division: 'Division 3',
                              contact_name: 'Marice H. DePasquale',
                              label_direction: 'left',
                              contact_image: 'images/board/marice-crop.jpg'
                            }
                    );

                    //attachPolygonInfoWindow(area_3_polygon, '<div style="padding:10px;background-color:#FF3300;">TEST</div>');

                    window.areas.push(area_3_polygon);


                    var outer_points = [];
                    var default_points = '-117.869380258948937,33.684502754451259 -117.869237897685736,33.684403799192836 -117.867320415443402,33.686127622834398 -117.866854413239793,33.686102624368651 -117.866748582680984,33.686091122484214 -117.866616308892105,33.686074750630283 -117.866484446676424,33.686056203883702 -117.866353046989431,33.686035489540878 -117.866222160802451,33.686012615750535 -117.86609183909448,33.685987591087859 -117.865962132190958,33.68596042555712 -117.865833090595075,33.685931129586777 -117.865704764315865,33.685899714464242 -117.865577203210592,33.685866192473462 -117.865450456639778,33.68583057661538 -117.865324573979521,33.685792880743229 -117.865199603769213,33.685753119431538 -117.865075594733767,33.685711308105027 -117.864952595101144,33.685667462905336 -117.864830652267955,33.685621600979395 -117.864709813641014,33.685573740042422 -117.864636127746422,33.685543346389203 -117.864515630388368,33.685490678039272 -117.857570412673923,33.682414031014197 -117.857708976469837,33.682200323475286 -117.863671732986901,33.673002787446187 -117.863676122441461,33.672996307462228 -117.86372750585943,33.67291803203112 -117.863776567071085,33.672838721734685 -117.863823276223414,33.67275842497898 -117.863867604995491,33.672677190292049 -117.863909526613625,33.67259506717636 -117.863949015329268,33.672512105405197 -117.863986047442907,33.672428355293306 -117.864020600457692,33.672343867850223 -117.864052653238588,33.67225869420966 -117.864082186532485,33.672172886191291 -117.864109182278412,33.672086495741226 -117.864133624127248,33.671999575493594 -117.864155497259048,33.67191217806262 -117.864171105274423,33.671842070811302 -117.864177657195413,33.671840968690915 -117.864280692427997,33.67183137763503 -117.864383402519493,33.67181959840542 -117.864485721167995,33.671805638538103 -117.864587581930763,33.67178950713383 -117.864688918901109,33.671771214707299 -117.864789666703118,33.671750772902882 -117.864889759822944,33.671728195071921 -117.864989133789678,33.671703495830783 -117.865087724159025,33.671676691216398 -117.865185467187516,33.67164779839333 -117.865282299503249,33.671616836226235 -117.86537815860494,33.671583824705102 -117.8654729823552,33.671548785094011 -117.865566709325208,33.671511740210676 -117.865659279126902,33.671472713995989 -117.865750631566129,33.671431731667006 -117.86584070766169,33.671388819703857 -117.865929449138875,33.671344005998129 -117.866016798421043,33.671297319427069 -117.866102699317281,33.671248790270589 -117.86618709582811,33.671198449942764 -117.86626993367409,33.671146330971979 -117.866351159109612,33.671092467158381 -117.866430719596963,33.671036893280927 -117.866508563639229,33.670979645241644 -117.866659205634477,33.670860016212387 -117.875483334841434,33.662010751040974 -117.882060386630329,33.666583210608508 -117.882064664351148,33.666586184273285 -117.882202825514241,33.666679445163012 -117.882552119713509,33.666915144876803 -117.882944325350522,33.666508844514844 -117.882463826837494,33.666184610038052 -117.882461450821651,33.666179549487978 -117.882506001056711,33.666134999052531 -117.882806001067692,33.665831999072282 -117.882999001075959,33.665638999071433 -117.883015001068671,33.665621999085879 -117.883066001074852,33.665570999067313 -117.883083001093922,33.66555499905715 -117.883092613561502,33.665571058932223 -117.884177065035473,33.666637192109299 -117.884263860583317,33.666729333149767 -117.884274994699112,33.666733465778236 -117.88504623431831,33.667491751725876 -117.885110239523982,33.667627824756131 -117.884810184176203,33.668790668342098 -117.884883575257675,33.668856553946206 -117.888124134386828,33.671765566948075 -117.888163721316531,33.671801101937596 -117.888483321294899,33.671482188695592 -117.894290549271133,33.665617297278978 -117.897062873260325,33.662827492598019 -117.899598001087597,33.660316999083065 -117.899842589957885,33.660047300381301 -117.899836259078668,33.660036377045557 -117.905377345727445,33.654459141114444 -117.905381272112862,33.654455203333136 -117.905715796861841,33.654695605842427 -117.913952327708643,33.646225590489948 -117.913967001060115,33.646233999072834 -117.914476001093448,33.645697999066705 -117.914566001097342,33.645600999083214 -117.914750001085153,33.645677999074998 -117.914893001076024,33.645737999067059 -117.915047001066327,33.645801999059572 -117.91511600108764,33.64584099907065 -117.915718001056462,33.646240999051955 -117.915978001094487,33.646390999069489 -117.916148001074092,33.646420999070884 -117.916479001070911,33.64641099906526 -117.917089001081521,33.646409999056736 -117.917290001065808,33.646329999064434 -117.917390001071951,33.646299999081158 -117.917629001085871,33.646272999066561 -117.91766000108332,33.646269999067208 -117.918664001059426,33.646276999056326 -117.919010001080792,33.646279999065342 -117.919015001069894,33.646811999073655 -117.919020001081961,33.647299999052201 -117.919030001064954,33.648239999065026 -117.91903100106839,33.648406999069017 -117.919032001086507,33.648407999056865 -117.919040001060225,33.648939999062762 -117.919040001074023,33.649299999060915 -117.919040001087865,33.649789999055137 -117.919046001089029,33.650379999073465 -117.919050001098256,33.650739999083839 -117.919056001090297,33.651099999063 -117.919070001064568,33.651819999065957 -117.919070001080271,33.652179999082151 -117.919070001064924,33.65247999906456 -117.919080001094883,33.652539999074179 -117.919341001085598,33.6525359990517 -117.919750001066191,33.652529999069941 -117.920127001092382,33.652529999080969 -117.92039000109277,33.652529999065692 -117.920549001096603,33.652529999068307 -117.921030001097634,33.652529999079263 -117.92119000106598,33.652529999067006 -117.921287001057635,33.652529999071973 -117.921580001066602,33.652529999057094 -117.921678001098144,33.652529999057784 -117.921900001077645,33.652529999083775 -117.921904001064448,33.652528999081156 -117.92235000107317,33.652519999064971 -117.922583001086025,33.652519999086451 -117.922810001071014,33.652519999060267 -117.922810001086688,33.652829999057197 -117.922810001091491,33.653149999075062 -117.922813001097211,33.653245999070108 -117.92281400109222,33.653272999074915 -117.922820001079884,33.65342999905954 -117.922820001064792,33.653515999054591 -117.922820001090088,33.653699999055853 -117.922821001061891,33.653796999082296 -117.922826001089376,33.65427199906231 -117.922830001093942,33.654649999053262 -117.922799001085266,33.65542399908442 -117.922770001081773,33.656149999062578 -117.922871001071357,33.656128999064165 -117.922888001081049,33.656133999068928 -117.922920001074502,33.656149999082395 -117.92292200107336,33.656436999057028 -117.922924001057424,33.656757999063608 -117.922926001066202,33.657133999079051 -117.92292800108558,33.657300999058847 -117.922930001080317,33.657589999061528 -117.923048001078669,33.657587999067538 -117.923401001088521,33.657581999051665 -117.923520001081499,33.657579999074954 -117.923520001090921,33.657939999083588 -117.921350001083098,33.657939999053333 -117.919218001061239,33.657970999071047 -117.919067154421157,33.657969707500719 -117.919080001097541,33.659859999055463 -117.919077001070093,33.66093799908225 -117.919090001089685,33.663269999078729 -117.919101001073216,33.665229999061836 -117.919106001059859,33.66602199905811 -117.919094001064238,33.666790999061874 -117.919120001086199,33.668319999087011 -117.917620001091791,33.668329999073428 -117.917280001077216,33.668309999083888 -117.916910001078605,33.668259999051905 -117.91643000109228,33.668109999073728 -117.916230001089573,33.668019999081338 -117.916090001060653,33.667929999070516 -117.915960001063169,33.667909999056924 -117.915580001061159,33.667699999072731 -117.915270001068606,33.667576999068821 -117.915100001078869,33.667509999082782 -117.914850001073148,33.667429999073406 -117.914520001068723,33.6673899990557 -117.91407000108704,33.667379999083515 -117.913420001071088,33.667379999084424 -117.913310001079296,33.667429999062144 -117.909684001090582,33.667442999074957 -117.90781000106638,33.667449999082059 -117.907812001098932,33.667727999063679 -117.9078180010642,33.668561999066476 -117.907820001064849,33.668839999074159 -117.907834001075742,33.669883999075772 -117.907840001091103,33.670279999067581 -117.907830001082843,33.670599999077908 -117.907800001071337,33.673016999070256 -117.907800001071763,33.673059999067881 -117.907870001071402,33.674059999073016 -117.907670001085648,33.674069999064237 -117.907690001059137,33.674669999058111 -117.907740001061228,33.675709999060814 -117.907730001075834,33.675889999075991 -117.90773000108986,33.676019999052443 -117.907730001059932,33.676129999065097 -117.907710001089782,33.677159999083941 -117.907704001085733,33.677812999053231 -117.90770000106906,33.678189999062255 -117.907700001088827,33.678679999074269 -117.907680001073729,33.678969999075775 -117.907680001060825,33.679379999073532 -117.907680001093425,33.680169999079688 -117.907240001088326,33.680164999055826 -117.906670001059865,33.680159999075393 -117.905950001094453,33.680149999063012 -117.905500001085926,33.680139999051924 -117.905408001064728,33.680139999077142 -117.904798001066538,33.680139999079614 -117.90458400108902,33.680139999076438 -117.904240001092347,33.680139999082549 -117.903943001079512,33.680139999086613 -117.903730001095155,33.680139999058696 -117.903516001067729,33.680139999070413 -117.90345000107574,33.680139999072736 -117.903180001065067,33.680139999074292 -117.902874001069051,33.680139999067684 -117.902660001069222,33.680139999066334 -117.902642001092772,33.680139999053118 -117.902588001079707,33.680139999070128 -117.902570001061392,33.680139999082634 -117.902445001068116,33.680139999056507 -117.902070001062057,33.680139999079117 -117.901946001086941,33.680139999084794 -117.901782001091661,33.6801399990809 -117.901293001069192,33.680139999071393 -117.901130001098082,33.680139999067862 -117.901068001076794,33.680139999080936 -117.900882001058051,33.680139999076751 -117.900820001081257,33.68013999907248 -117.900638001067648,33.680138999085514 -117.900092001080822,33.680135999057782 -117.899910001086923,33.680135999085515 -117.899784001076199,33.680134999063313 -117.899408001069119,33.680132999067439 -117.899283001061491,33.680132999068839 -117.899156001067126,33.680131999065082 -117.898776001093339,33.680129999061286 -117.898650001094865,33.68012999907706 -117.897790001067548,33.680119999060345 -117.897090001068023,33.680119999063876 -117.896910001076279,33.680119999054696 -117.895640001077297,33.680119999056288 -117.894930001091382,33.680109999065785 -117.894470001085054,33.680109999056185 -117.893259001089845,33.680110999078693 -117.89287600108814,33.680100999060585 -117.892799001095369,33.680111999060387 -117.892075001092792,33.680112999058025 -117.891874001098103,33.680113999067849 -117.890850001079045,33.680119999069888 -117.889510001057658,33.680129999051864 -117.889161001092106,33.680129999086425 -117.88875000107511,33.680129999066381 -117.888117001072303,33.680122999065823 -117.887770001093756,33.680119999059443 -117.887352001069885,33.680117999083691 -117.886098001057064,33.680111999061857 -117.885680001087195,33.680109999058381 -117.885590001076466,33.680099999085371 -117.885566001082012,33.680099999085705 -117.885228001073656,33.680099999083701 -117.885080001096128,33.680099999086011 -117.883870001097876,33.680099999057589 -117.883730001061934,33.680099999083097 -117.883418001065095,33.680093999062883 -117.883220001060423,33.680089999057046 -117.882660001080112,33.68007999907605 -117.882627001058921,33.680080999077646 -117.882430001076912,33.680089999086192 -117.881787001065831,33.680089999058779 -117.880370001064421,33.680089999080231 -117.880200001061667,33.680069999065744 -117.87986200105847,33.680035999071343 -117.879800001099142,33.680029999078442 -117.879490001094936,33.679959999054134 -117.879430001060527,33.679939999083018 -117.879370001096476,33.680009999081328 -117.879170001076091,33.680209999085626 -117.877990001065143,33.681469999079859 -117.877430001087475,33.682049999066045 -117.876857001075066,33.682644999060081 -117.872757001091728,33.686931999053392 -117.872491001082395,33.687177999084739 -117.872429001075773,33.687270999068183 -117.872256001097455,33.687432999068939 -117.871943957528572,33.687733366108986 -117.868766338624496,33.6855345868737 -117.868524262883241,33.685367072700309 -117.868654054904425,33.685236588870268 -117.869382465599131,33.684504285916589 -117.869380258948937,33.684502754451259';
                    var split_string = default_points.split(" ");

                    for (var i = 0; i < split_string.length; i++) {

                      var point = split_string[i].split(",");
                      outer_points.push({"lat": parseFloat(point[1]), "lng": parseFloat(point[0])});

                    }

                    var inner_points = [];


                    var area_4_polygon = new google.maps.Polygon({
                      paths: [outer_points, inner_points],
                      strokeColor: "#006680",
                      strokeOpacity: 1,
                      strokeWeight: 2,
                      fillColor: "#006680",
                      fillOpacity: 0.3,
                      map: map_zmap_2064583368});


                    //This gets the center of the polygon, but since they are such complex shapes
                    //the center is not always technically in the polygon shape. Damn.
                    var lbl_lat = area_4_polygon.my_getBounds().getCenter().lat();
                    var lbl_lng = area_4_polygon.my_getBounds().getCenter().lng();


                    overlay = new CustomMarker(
                            new google.maps.LatLng(lbl_lat, lbl_lng),
                            map_zmap_2064583368,
                            {
                              marker_id: '4',
                              division: 'Division 4',
                              contact_name: 'Jim Atkinson',
                              label_direction: 'left',
                              contact_image: 'images/board/Atkinson2_400x400.jpg'
                            }
                    );


                    //attachPolygonInfoWindow(area_4_polygon, '<div style="padding:10px;background-color:#FF3300;">TEST</div>');

                    window.areas.push(area_4_polygon);


                    var outer_points = [];
                    var default_points = '-117.911464001061589,33.625643999079323 -117.911797001073452,33.625875999057492 -117.912798001080816,33.626571999065938 -117.913132001071034,33.626803999081574 -117.913294001076849,33.62691599906973 -117.913465001065916,33.62703499906619 -117.913564001090151,33.627102999058316 -117.913742001065415,33.627226999069947 -117.913890001090877,33.627329999083948 -117.914466001069187,33.627730999078686 -117.914800001062318,33.627962999079479 -117.915008001064109,33.627752999053158 -117.915462001078339,33.627293999076329 -117.91563200108223,33.627123999081171 -117.915841001088211,33.626914999075659 -117.91590300107589,33.626851999076457 -117.916008001088059,33.626745999059295 -117.916323001091087,33.626427999079333 -117.91642900109828,33.626322999084955 -117.916447001090688,33.626304999080389 -117.91650100106645,33.626250999085514 -117.916519001071563,33.626232999069636 -117.91659700107283,33.626152999066484 -117.916833001058862,33.625915999070969 -117.916912001076597,33.625836999077201 -117.917044001073734,33.625702999060962 -117.91744100108582,33.625303999061622 -117.917574001077767,33.625170999051299 -117.917740001059286,33.625285999075054 -117.917991001059775,33.625459999074081 -117.918154001066426,33.62557299908255 -117.91824000106989,33.625632999070476 -117.918407001072708,33.625749999057909 -117.918501001073523,33.625814999063657 -117.918573001068324,33.625864999085778 -117.918641001088645,33.625911999085872 -117.918824001061694,33.626039999053518 -117.918884001081906,33.626080999079285 -117.919060001079728,33.626202999076057 -117.919074001087665,33.626212999070773 -117.919241001057074,33.626328999061911 -117.919266001091103,33.626345999079518 -117.919343001080108,33.626399999072845 -117.919369001093969,33.626417999058141 -117.919509001060376,33.626515999069284 -117.919657001088467,33.62661899907669 -117.919932001062818,33.626809999062395 -117.92007400106165,33.626907999065239 -117.920240001086199,33.627022999064543 -117.920465001056556,33.627179999085399 -117.920740001080048,33.627370999084015 -117.920907001078447,33.627487999063263 -117.921073001076664,33.627602999067278 -117.921349001095166,33.627794999061472 -117.921574001082405,33.627950999063479 -117.921741001061903,33.628066999081852 -117.921756406100158,33.628077764057707 -117.921758824650567,33.628082324671979 -117.922105268134231,33.628323096713963 -117.922109794919265,33.628326242733564 -117.922582335896337,33.62865464650681 -117.922630109861075,33.628687847952449 -117.922641603900615,33.628695835949564 -117.922907302353863,33.628880487320899 -117.922915483004161,33.628886172576763 -117.923274499041909,33.629135674306809 -117.923280229683101,33.629139656864524 -117.923414876551732,33.62923323033651 -117.923499722786275,33.629292194466494 -117.923509052383281,33.629298678108917 -117.923716744208164,33.629443013506879 -117.92372447593992,33.6294483866563 -117.923969588037224,33.629618726191524 -117.923976175267711,33.629623303899386 -117.924239867763291,33.629806554497463 -117.924255936672708,33.629817721384839 -117.924394693377238,33.62991414843912 -117.924398262843354,33.629916628950326 -117.924541610595242,33.630016246093447 -117.924544944862362,33.630018563189878 -117.924701258603321,33.630127190347416 -117.924704377938554,33.630129358105471 -117.924889075946211,33.630257709743958 -117.924895309470401,33.63026204159069 -117.925022861335194,33.630350680422382 -117.925026104271453,33.630352933987616 -117.925075227025275,33.630387070485455 -117.92507667438997,33.630388076313025 -117.92512066524317,33.630418646474986 -117.925122039842137,33.630419601710592 -117.925141092569802,33.630432841876463 -117.925141892095553,33.630433397470938 -117.92514293419076,33.630434121667776 -117.925148260806338,33.63043782320419 -117.925148488787428,33.630437981631879 -117.925148579411527,33.63043804459155 -117.925147889819058,33.63043914964026 -117.925018132939812,33.630611467730269 -117.924871413152033,33.63077398461197 -117.924850065343918,33.630794834422687 -117.924800293853522,33.630843439411137 -117.925016001064776,33.630987999056288 -117.924750001067437,33.631200999066962 -117.924630001095508,33.631289999059994 -117.924007001089009,33.631753999065971 -117.923826001083256,33.631896999064374 -117.923653001091807,33.632047999053214 -117.923491001066765,33.632205999067025 -117.9234860010734,33.632210999074189 -117.923338001077553,33.632371999069917 -117.923197001074485,33.632542999084009 -117.923167001086952,33.632582999075872 -117.923066001091968,33.632720999059806 -117.923051001070135,33.632742999077095 -117.922947001084665,33.632904999077162 -117.92284000107864,33.633092999079608 -117.922759001077608,33.633255999069604 -117.922745001082916,33.633285999054408 -117.922681001068312,33.633437999068022 -117.922593001066417,33.633682999072526 -117.92253600108306,33.633885999064383 -117.922511001097874,33.634002999079257 -117.922485001084965,33.634126999055731 -117.922187001067357,33.635744999078518 -117.922126001071035,33.636080999053227 -117.92207100108287,33.636324999069821 -117.922387001066511,33.63627599908115 -117.923336001064015,33.636131999079403 -117.92365300107312,33.636084999073987 -117.923633001092483,33.636103999069654 -117.923575001088537,33.63616199905951 -117.923556001089352,33.636181999066871 -117.923489001063032,33.636248999059909 -117.92328700106458,33.636451999073167 -117.923221001067418,33.636519999080576 -117.923223001092012,33.636700999071238 -117.923229001084522,33.637244999056804 -117.923232001084742,33.637426999077491 -117.923235001085033,33.637715999069407 -117.923245001097612,33.638552999058916 -117.923246001075057,33.638584999079484 -117.923250001079012,33.638874999084962 -117.923252001059865,33.639062999079925 -117.923259001069354,33.639626999082324 -117.923262001061076,33.639814999077856 -117.923265001089987,33.640053999063959 -117.923274001061301,33.640771999069379 -117.923277001067873,33.641011999059067 -117.923278001070415,33.641134999071134 -117.923282001083336,33.641504999075181 -117.923284001088433,33.641628999062739 -117.923286001068576,33.641809999069395 -117.923289001094531,33.642081999057922 -117.923292001097479,33.642353999063566 -117.923295001069363,33.642535999063263 -117.92330600107519,33.643441999078966 -117.924760001076478,33.643429999082691 -117.927643001066585,33.643405999084365 -117.92764600108049,33.643629999058966 -117.927645001082112,33.643674999068715 -117.927654001057974,33.644135999062399 -117.927655001061879,33.644217999085555 -117.927660001087958,33.64439999905516 -117.927660001063956,33.644429999069267 -117.927663001078884,33.644679999074171 -117.927664001058304,33.644762999076043 -117.927665001057889,33.644911999070082 -117.927665001083597,33.644967999059567 -117.927668001082253,33.64521599905131 -117.927670001058246,33.645367999070082 -117.927673001058153,33.645560999081006 -117.927675001066689,33.645646999069825 -117.927679001070999,33.645904999056995 -117.927681001088288,33.646046999083715 -117.927685001091405,33.646328999072537 -117.927688001076149,33.646612999053438 -117.927689001089462,33.64666999908107 -117.927690001090667,33.646689999080678 -117.92769000108278,33.646855999064556 -117.92769000109196,33.647059999054427 -117.927693001076477,33.647365999061236 -117.927699001072838,33.647924999058333 -117.927700001090699,33.648009999075512 -117.927707001090425,33.648283999054634 -117.92771000109262,33.648399999076119 -117.927710001055402,33.648453999074654 -117.927710001093828,33.648589999072364 -117.92771800108811,33.649009999061136 -117.927723001065104,33.649284999061777 -117.927733001067779,33.64983399905168 -117.927742001072502,33.650269999077452 -117.927750001081279,33.650689999063751 -117.927750001079119,33.651047999086401 -117.927750001066556,33.651299999066005 -117.927770001088007,33.652121999071149 -117.927780001090028,33.652479999055089 -117.927427001078627,33.652492999064421 -117.927270001078426,33.652499999058989 -117.926368001060453,33.65249999906203 -117.926015001076891,33.652499999067743 -117.925990001065273,33.652499999084377 -117.925831001075167,33.652501999070587 -117.925380001085983,33.652509999055937 -117.925279001087574,33.652509999057209 -117.925095001078262,33.6525099990642 -117.924873001083753,33.65250999908119 -117.92477000106696,33.65250999908114 -117.924680001073469,33.652509999063184 -117.924210001077469,33.652509999054921 -117.924110001089261,33.652509999063241 -117.923990001092875,33.652519999066271 -117.923760001090756,33.652519999078116 -117.923754001097194,33.652519999084717 -117.923046001075051,33.652519999052828 -117.922810001071014,33.652519999060267 -117.922583001086025,33.652519999086451 -117.92235000107317,33.652519999064971 -117.921904001064448,33.652528999081156 -117.921900001077645,33.652529999083775 -117.921678001098144,33.652529999057784 -117.921580001066602,33.652529999057094 -117.921287001057635,33.652529999071973 -117.92119000106598,33.652529999067006 -117.921030001097634,33.652529999079263 -117.920549001096603,33.652529999068307 -117.92039000109277,33.652529999065692 -117.920127001092382,33.652529999080969 -117.919750001066191,33.652529999069941 -117.919341001085598,33.6525359990517 -117.919080001094883,33.652539999074179 -117.919070001064924,33.65247999906456 -117.919070001080271,33.652179999082151 -117.919070001064568,33.651819999065957 -117.919056001090297,33.651099999063 -117.919050001098256,33.650739999083839 -117.919046001089029,33.650379999073465 -117.919040001087865,33.649789999055137 -117.919040001074023,33.649299999060915 -117.919040001060225,33.648939999062762 -117.919032001086507,33.648407999056865 -117.91903100106839,33.648406999069017 -117.919030001064954,33.648239999065026 -117.919020001081961,33.647299999052201 -117.919015001069894,33.646811999073655 -117.919010001080792,33.646279999065342 -117.918664001059426,33.646276999056326 -117.91766000108332,33.646269999067208 -117.917629001085871,33.646272999066561 -117.917390001071951,33.646299999081158 -117.917290001065808,33.646329999064434 -117.917089001081521,33.646409999056736 -117.916479001070911,33.64641099906526 -117.916148001074092,33.646420999070884 -117.915978001094487,33.646390999069489 -117.915718001056462,33.646240999051955 -117.91511600108764,33.64584099907065 -117.915047001066327,33.645801999059572 -117.914893001076024,33.645737999067059 -117.914750001085153,33.645677999074998 -117.914566001097342,33.645600999083214 -117.914476001093448,33.645697999066705 -117.913967001060115,33.646233999072834 -117.913952327708643,33.646225590489948 -117.905715796861841,33.654695605842427 -117.905395838804225,33.654465671549758 -117.905363569446465,33.654443243003925 -117.903660888442516,33.653259778903767 -117.902914430339465,33.652741077988601 -117.902053043268225,33.652144095218539 -117.90066864062085,33.65353891869011 -117.899000846955303,33.65238056224478 -117.900386714542364,33.650986225329213 -117.898975001058645,33.649998999056294 -117.898717001065464,33.649821999066958 -117.898595001086278,33.649736999065901 -117.898229001066824,33.649482999085059 -117.898108001068934,33.649398999084106 -117.898083001088324,33.649380999060398 -117.898008001092236,33.649329999054373 -117.897984001064529,33.649312999058537 -117.897960001088578,33.649295999057422 -117.897889001086597,33.649246999059514 -117.897866001056855,33.649230999053543 -117.897786001058989,33.649174999065998 -117.897546001090348,33.649007999066356 -117.897466001078669,33.648952999072939 -117.897443001078031,33.648936999060425 -117.897377001085914,33.648890999062601 -117.897355001060689,33.648875999086222 -117.897303001071151,33.648839999060264 -117.897150001063622,33.648732999082831 -117.897099001097544,33.648697999061611 -117.897024001094778,33.648645999054303 -117.896802001061005,33.648490999072791 -117.896728001091219,33.648439999051909 -117.896715001072437,33.648430999062938 -117.89656600107574,33.648327999066559 -117.896121001094031,33.648018999063851 -117.895973001092784,33.647915999083494 -117.895854001084047,33.647832999084955 -117.895500001084201,33.647586999076864 -117.895382001079028,33.647504999054526 -117.895457001070028,33.647427999072377 -117.89568400109647,33.647199999056475 -117.895760001059827,33.647123999086894 -117.895892001093429,33.646989999080041 -117.896289001083446,33.646589999060097 -117.89642200106654,33.646456999081927 -117.896560001088162,33.646316999074628 -117.89680200109575,33.646072999053182 -117.896977001084664,33.645897999085186 -117.89711600107178,33.645758999078431 -117.897183001095655,33.645690999066005 -117.897384001093357,33.645487999067313 -117.89745200107329,33.645420999059404 -117.89759300106644,33.645278999052806 -117.898016001070403,33.644852999073855 -117.898157001065059,33.644710999059164 -117.897740001090156,33.644420999072267 -117.896489001065461,33.643550999073881 -117.896072001080682,33.643260999072957 -117.895822001076226,33.643086999065446 -117.895072001077523,33.642564999085984 -117.894879001094111,33.642431999079882 -117.894826238606754,33.642394972763867 -117.894824417147646,33.642394978579453 -117.894825091836793,33.642394168047467 -117.89485255147649,33.642361180733488 -117.895119937420716,33.642039967797608 -117.895828496980613,33.641323961049402 -117.896330632971328,33.640818838891711 -117.89686812078034,33.640278147505612 -117.899444927793382,33.637685855474707 -117.900335689148122,33.636789692583442 -117.90038947647048,33.636735578262794 -117.901722867924704,33.635394255731534 -117.902125336426067,33.634989382357041 -117.903075600670888,33.634033419728901 -117.903175566878858,33.633932852406701 -117.903207906228502,33.633900296562999 -117.904860553157562,33.632236541413604 -117.905885196614491,33.631205267544743 -117.908658182742798,33.628414171660843 -117.909313008631187,33.627755033910113 -117.909414076995489,33.627653303403115 -117.911431347232266,33.62562274992866 -117.911425620827984,33.625682379356135 -117.911464001061589,33.625643999079323';
                    var split_string = default_points.split(" ");

                    for (var i = 0; i < split_string.length; i++) {

                      var point = split_string[i].split(",");
                      outer_points.push({"lat": parseFloat(point[1]), "lng": parseFloat(point[0])});

                    }

                    var inner_points = [];


                    var area_5_polygon = new google.maps.Polygon({
                      paths: [outer_points, inner_points],
                      strokeColor: "#008AC5",
                      strokeOpacity: 1,
                      strokeWeight: 2,
                      fillColor: "#008AC5",
                      fillOpacity: 0.3,
                      map: map_zmap_2064583368});


                    //This gets the center of the polygon, but since they are such complex shapes
                    //the center is not always technically in the polygon shape. Damn.
                    var lbl_lat = area_5_polygon.my_getBounds().getCenter().lat();
                    var lbl_lng = area_5_polygon.my_getBounds().getCenter().lng();


                    overlay = new CustomMarker(
                            new google.maps.LatLng(lbl_lat, lbl_lng),
                            map_zmap_2064583368,
                            {
                              marker_id: '5',
                              division: 'Division 5',
                              contact_name: 'Shawn Dewane',
                              label_direction: 'left',
                              contact_image: 'images/Shawn_highres_bio.jpg'
                            }
                    );


                    //attachPolygonInfoWindow(area_5_polygon, '<div style="padding:10px;background-color:#FF3300;">TEST</div>');

                    window.areas.push(area_5_polygon);




                  }

                  google.maps.Polygon.prototype.my_getBounds = function () {
                    var bounds = new google.maps.LatLngBounds();
                    this.getPath().forEach(function (element, index) {
                      bounds.extend(element)
                    });
                    return bounds;
                  }

                  function geocodeAddress(event, method) {

                    var press = event.which || event.keyCode;

                    if (press != 13 && method != 'button') {
                      return false;
                    }

                    var address = jQuery('#zservicearea_search').val();

                    if (address.length < 6) {

                      console.log('Please enter a complete address.');
                      alert('Please enter a complete address.');
                      return false;

                    }

                    geocoder = new google.maps.Geocoder();

                    //console.log(address);



                    var bl = new google.maps.LatLng(33.61637252120485, -118.02042514682375);
                    var tr = new google.maps.LatLng(33.707996151391356, -117.7874006395674);

                    var gcbounds = new google.maps.LatLngBounds(bl, tr);

                    geocoder.geocode(
                            {
                              address: address,
                              bounds: gcbounds,

                            }, function (results, status) {

                      //console.log(results);
                      //console.log(status);

                      deleteMarkers(null);

                      if (status === google.maps.GeocoderStatus.OK) {

                        jQuery('#zservicearea_search').blur();

                        var in_service_area = 0;

                        for (a = 0; a < window.areas.length; a++) {

                          if (in_service_area = google.maps.geometry.poly.containsLocation(results[0].geometry.location, window.areas[a])) {
                            break;
                          }

                        }



                        if (in_service_area) {

                          jQuery('#zservice-notification').empty();
                          jQuery('#zservice-notification').append('<p><strong>Yay!<br />You are in the Mesa Water service area.</strong></p>If you would like to add or start new service, please give us a call at <a href=tel:1-949-631-1200>949.631.1200</a>.');

                          map_zmap_2064583368.setCenter(results[0].geometry.location);

                          var marker = new google.maps.Marker({
                            map: map_zmap_2064583368,
                            position: results[0].geometry.location
                          });

                          markers.push(marker);

                          jQuery('#zservicearea-map-notification').fadeIn();

                          recenter(results[0].geometry.location, 0, jQuery('#zservice-notification').height());

                        } else {

                          jQuery('#zservice-notification').empty();
                          jQuery('#zservice-notification').append('<p><strong>Sorry. It looks like you are not in the Mesa Water service area.</strong></p>If you believe this is incorrect, please <a href=/contact>contact us</a>.');

                          jQuery('#zservicearea-map-notification').fadeIn();

                        }



                      } else {

                        alert('Geocode was not successful for the following reason: ' + status);

                      }

                    });
                  }

                  function recenter(latlng, offsetx, offsety) {

                    var point1 = map_zmap_2064583368.getProjection().fromLatLngToPoint(
                            (latlng instanceof google.maps.LatLng) ? latlng : map_zmap_2064583368.getCenter()
                            );

                    var point2 = new google.maps.Point(
                            ((typeof (offsetx) == 'number' ? offsetx : 0) / Math.pow(2, map_zmap_2064583368.getZoom())) || 0,
                            ((typeof (offsety) == 'number' ? offsety : 0) / Math.pow(2, map_zmap_2064583368.getZoom())) || 0
                            );

                    map_zmap_2064583368.setCenter(map_zmap_2064583368.getProjection().fromPointToLatLng(new google.maps.Point(point1.x - point2.x, point1.y + point2.y)));

                  }

                  function deleteMarkers(map) {

                    for (var i = 0; i < markers.length; i++) {

                      markers[i].setMap(map);

                    }

                    markers = [];

                  }


                  jQuery(document).ready(function () {

                    jQuery('#zservice-notification-close').click(function () {

                      jQuery('#zservicearea-map-notification').fadeOut();

                    });

                  });

                  google.maps.event.addDomListener(window, 'load', initServiceMap);

  </script>




</div>

